<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Frame 1</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A700" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A700" />
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>

<body>

    <div class="frame-1">
        <div class="header">
            <p class="billing-name">Billing Soft</p>
            <div style="
          padding-bottom: 5px;
          padding-left: 50px;">
                
            </div>

            


        </div>
        <div class="Site-body">
            <br>
            <h1 class="first-h1" style="color: rgb(133, 18, 104);">Welcome</h1><br>

            <form id="customerForm" action="/add_customer" method="post">
                <div class="card">
                    <input type="text" id="customerName" name="customerName" placeholder="Bill Number=" required>
                    <input type="text" id="customerEmail" name="customerEmail" placeholder="Instagram ID" required>
                    <!-- <input type="text" id="customerAddress" name="customerAddress" placeholder="Address" required> -->
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
    
    <script src="static/js/script.js"></script>
</body>

</html>